body, .links{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background-color: #4cb5ae;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a{
    margin: 0 50px;
    position: relative;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    background-color: #033a3d;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #c0e4da;
    background: #033a3d;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .7);
}